td.display-7 {
    font-size:calc(.65em + .40vw);   
}

.card-block {
    margin:0;
    padding:0;
}

.profile-table-wrap{
    overflow: auto;
}

.profile-table{
    text-align: left;
}

.profile-table-btn{
    margin: 0;
}

.profile-table-btn-center {
    text-align:center;
}