
@media only screen and (min-width: 200px) and (max-width: 580px) {
    .display-7 {
        font-size:calc(.75em + .40vw);   
    }

    .card-block {
        margin: 0 !important;
        padding: 0 !important;
    }
}
@media only screen and (min-width: 450px) and (max-width: 1200px) {
    .card-block {
        margin: 0 !important;
        padding: 0 !important;
    }
	
}
@media only screen and (min-width: 1200px) {

}

.profile-table-wrap{
    overflow: auto;
}

.profile-table{
    text-align: left;
}

.profile-table-btn{
    padding: .2em .4em;
    margin: 0;
}

.profile-table-btn-center {
    text-align: center;
}