/*table wrapper*/
#table1-t {
    padding-top: 1%;
    padding-bottom: 0;
}

.table th {
    font-size: 13px;
} 

.table td {
    font-size: 12px;
}

@media only screen and (min-width: 1200px) {
    #table1-t {
        min-height: 345px;
    }
}