#top-link-block > .btn {
    font-size: 1.5em !important;
    opacity: 0.4 !important;
    padding: 10px 20px !important;
}

#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    right: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    right: 10px;
    z-index: 999;
}

.scrollToTop a {
    border-radius: 100%;
}