body {
    font-family: 'Rubik' !important;
    font-weight: 400;
}

#homepageStyle {
    font-size: 20px
}

.w3-container {
    padding: 0;
}

.w3-sidebar {
    width: 250px;
    height: 100%;
    background: #333333;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sideBarHR {
    background: #aaa;
    margin: auto;
    width: 95%;
}