body {
    background-color: #202020;
}

.wrapper-multitab {
    margin-top: 180px;
    padding-top: 20px;
    background-color: #f9f9f9;
}

#table1-1s,
#table1-1q,
#table1-1p {
    padding-top: 50px;
}